body {
  background-color: #121212;
  color: #e0e0e0;
}

.App {
  text-align: center;
}

.container {
  width: 45%;
  margin: auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  flex: 3;
  text-align: left;
  margin-right: 10px;
}

.input-group input,
.input-group select {
  flex: 1;
  text-align: right;
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  padding: 5px;
}

/* Hide default spinner controls for number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #898989;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2c2c2c;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  max-height: 80vh; /* Maximum height relative to the viewport height */
  max-width: 90vw;  /* Maximum width relative to the viewport width */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
  z-index: 1000; /* Ensure it sits above other content */
}

.popup-inner {
  text-align: center;
}

.screenshot-area {
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
}

.popup-inner,
.screenshot-area {
  font-size: 18px; /* Increased font size */
}

.error-message {
  color: red;
}

.results {
  margin-top: 10px;
}

.result-entry {
  margin-bottom: 10px;
}

.popup-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #898989;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #2c2c2c;
}

@media (max-height: 500px) {
  .popup {
    max-height: 70vh; /* Adjust for smaller viewports */
  }
}

@media (max-width: 600px) {
  .popup {
    max-width: 80vw; /* Adjust for smaller viewports */
  }
}
